body {
  min-height: 1200px;
}
.fake-content {
  min-height: 75px;
}
.fixed-top {
  background-color: #89d9a6!important;
}
.fixed-top .navbar-nav .nav-link {
  color: #222!important;
  opacity: 65%;
}
.fixed-top .navbar-nav .nav-link.active {
  opacity: 100%;
}

.fixed-top .navbar-brand{
  color: #222;
}
.fixed-bottom .navbar-nav .nav-link.active {
  opacity: 50%;
}
.sticky-top {
  background-color: #f09091!important;
}
.sticky-top .navbar-nav .nav-link {
  color: #222!important;
  opacity: 65%;
}
.sticky-top .navbar-nav .nav-link.active {
  opacity: 100%;
}

.sticky-top .navbar-brand{
  color: #222;
}
